*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Josefin Sans;
}
.main{
    display: flex;
    justify-content: center;
    height: 40vh;
    align-items: center;
}
#Input_URL{
    width: 35vw;
    height: 37vh;
    background: #eaeaea;
    border-radius: 10px;
    justify-content: center;
    padding-left: 34px;
    align-items: center;
}
#SelectCols{
    width: 35vw;
    height: 37vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: #eaeaea;
    border-radius: 10px;
    justify-content: center;
    padding-left: 34px;
    align-items: center;
}
.select{
    /* margin-top: 22px; */
    margin-right: 3px
}
#SelectCols{
    display: block;

}
.form-check-input{
    /* margin-top: 10px; */
    margin-left: 16px;
}
/* .container2{
    width: 35vw;
    height: 24vh;
    display: none;
    background: #eaeaea;
    border-radius: 10px;
    justify-content: center;
    padding-left: 34px;
    align-items: center;
} */

.form-control{
    width: 93%;
}
.form-select{
    width: 93%;
}
#lastBtn{
    letter-spacing: 2px;
    position: absolute;
    top: 30%;
    left: 59.8%;
}
.graph{
    margin-left: 20%;
    margin-bottom: 10%;
    height: 75vh;
    width: 60vw;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
#selMenu{
    width: 35vw;
    height: 24vh;
    margin: 0px 5px;
    background: #eaeaea;
    border-radius: 10px;
    justify-content: center;
    padding-left: 34px;
    align-items: center;
}
.menuSelect{
    width: 58%;
    margin-top: 1.4%;
}
.labX{
    position: absolute;
    top: 1.7%;
    right: 31.4%;
}
.labY{
    position: absolute;
    top: 16%;
    right: 31.4%;
}
#selxLable{
    top: 6%;
    right: 21.4%;
    position: absolute;
    width: 19%;
}
#selyLable{
    top: 19%;
    right: 21.4%;
    position: absolute;
    width: 19%;
}
@media(max-width: 450px){
    .main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #SelectCols{
        width: 90vw;
        height: 34.3vh;
        margin-top: 10px;
    }
    #Input_URL {
        width: 90vw;
        height: 31vh;
        background: #eaeaea;
        margin-top: 10px;
        border-radius: 10px;
        justify-content: center;
        padding-left: 34px;
        align-items: center;
    }
    #lastBtn {
        letter-spacing: 2px;
        position: absolute;
        top: 60%;
        left: 14%;
    }
    .graph{
        position: absolute;
        bottom: 7%;
        margin-left: 20%;
        margin-bottom: 23%;
        height: 7vh;
        width: 83vw;
        right: 9%;
    }
    .chart{
        margin-bottom: 30px;
    }
    .labX {
        position: absolute;
/*         top: 33.7%; */
        top: 37.7%;
        right: 52.0%;
        margin-top: 10px;
    }
    #selxLable {
/*         top: 40%; */
        top : 44%;
        right: 34.4%;
        position: absolute;
        width: 52%;
        margin-top: 10px;
    }
    .labY {
        position: absolute;
/*         top: 47%; */
        top: 51%;
        right: 52.0%;
        margin-top: 10px;
    }
    #selyLable {
/*         top: 52%; */
        top: 54.3%;
        right: 34.4%;
        position: absolute;
        width: 52%;
        margin-top: 10px;
    }
}
